body{
margin:0;
background:#111;
color:white;
font-family:sans-serif;
overflow:hidden;
}

#game{
display:none;
height:100vh;
position:relative;
}

#lanes{
display:flex;
height:100%;
justify-content:center;
}

.lane{
width:100px;
border:1px solid gray;
position:relative;
}

.keyLabel{
position:absolute;
bottom:20px;
left:50%;
transform:translateX(-50%);
font-size:30px;
}

.note{
width:80px;
height:20px;
background:cyan;
position:absolute;
left:10px;
border-radius:10px;
}

#score{
position:absolute;
top:20px;
left:20px;
font-size:25px;
}

.popup{
position:absolute;
top:50px;
background:red;
padding:10px;
animation:move 3s linear;
}

@keyframes move{
0%{
left:-200px;
}

100%{
left:100%;
}
}
