body{
margin:0;
background:#111;
color:white;
font-family:Arial,sans-serif;
overflow:hidden;
}

#startScreen{
position:absolute;
width:100%;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:10px;
text-align:center;
background:#111;
z-index:1000;
}

#startBtn{
padding:15px 30px;
font-size:20px;
border:none;
border-radius:10px;
cursor:pointer;
background:cyan;
font-weight:bold;
}

#countdown{
position:absolute;
font-size:80px;
width:100%;
text-align:center;
top:40%;
z-index:999;
}

#game{
display:none;
height:100vh;
position:relative;
}

#score{
position:absolute;
top:20px;
left:20px;
font-size:25px;
z-index:100;
}

#lanes{
display:flex;
justify-content:center;
height:100%;
position:relative;
}

.lane{
width:100px;
height:100%;
border:1px solid gray;
position:relative;
background:#222;
}

.lane:nth-child(odd){
background:#1a1a1a;
}

.keyLabel{
position:absolute;
bottom:40px;
left:50%;
transform:translateX(-50%);
font-size:30px;
font-weight:bold;
}

.note{
width:80px;
height:20px;
background:cyan;
position:absolute;
left:10px;
border-radius:10px;
box-shadow:0 0 15px cyan;
}

.hitLine{
position:absolute;
bottom:100px;
width:100%;
height:5px;
background:red;
z-index:100;
}

.popup{
position:absolute;
top:50px;
left:-200px;
background:red;
padding:10px;
border-radius:10px;
font-size:18px;
font-weight:bold;
z-index:200;
animation:move 3s linear;
}

@keyframes move{

from{
left:-200px;
}

to{
left:100%;
}

}
